/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f9f7f6;
    font-family: "open_sans", Arial, sans-serif;
    font-size: 16px;
    color: #3B3B3B;
}

.main{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #3B3B3B;
}




/********
* Section
********/

section {
    margin-bottom: 40px;
    background-color: white;
    padding: 35px;
    border: 1px solid #dddfe2;
}

.section1 {
    margin-top: 70px;
    border-radius: 15px 0 15px 0;
}

.section2 {
    border-radius: 0px 15px 0px 15px;

}
.section3 {
    padding: 35px 35px 0px 35px;
    margin-bottom: 40px;
    border-radius: 15px 0 15px 0;

}


/********
* Titre
********/

h1{   
    font-size: 26px; 
    text-transform: uppercase;  
    font-weight: 500; 
    border-bottom: 3px solid #9575cd;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}

h2{
    font-size: 20px;
}

h3{    
    font-size: 18px; 
    text-transform: uppercase;  
    font-weight: 500; 
}

h4 {
    font-size: 17px; 
    font-weight: 500; 
}

/********
* Svg
********/

.svg {
    height: 1em;
}
.svg1 {
    height: 1.5em;
}
.svg2{
    height: 2em;
}
.svg3{
    height: 3em;
}

/********
* Flex
********/

.row {
    display: flex;
    flex-flow: row nowrap;
}
.column {
    display: flex;
    flex-flow: column nowrap;
}
.start {
    justify-content: flex-start;
}

.between {
    justify-content: space-between; 
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;  
}

.sans_align {
    align-items: flex-start;
}

.avec_align {
    align-items: center;
}


/********
* Width
********/

.max_width {
    width: 100%;
}

.mid_width {
    width: 48%
}

/********
* Autre
********/

/* article */

article {
    padding: 20px;
    margin-bottom: 35px;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    background-color: #e9ebee;

}

/* choix d'interface */ 

.chooseSelected {
    text-decoration: none;
    background-color: #56AAE5;
    color: white;
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid #478EBF;
    border-left: 2px solid #478EBF;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    border-radius: 15px;
}

.choose {
    text-decoration: none;
    color: #3B3B3B;
    padding: 10px 20px 10px 20px;
    border-left: 2px solid #3B3B3B;
    border-bottom: 2px solid #3B3B3B;
    letter-spacing: 0.02em;
    border-radius: 15px;
    text-transform: uppercase;

}
.choose:hover {
    color: black;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.bold {
    font-weight: 600;
}

.souligne {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.text_align {
    text-align: center;
}

.erreur_login {
    color: #b94a48;
    border-color: #d59595;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-image: linear-gradient(to bottom,#f2dede 0,#ffcccb 100%);
    background-repeat: repeat-x;
    outline: none;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.margin_top_20 {
    margin-top: 20px;
}
.margin_bot_10 {
    margin-bottom: 10px;
}
.margin_bot_20 {
    margin-bottom: 20px;
}
.margin_right_10 {
    margin-right: 10px;
}
.margin_right_20 {
    margin-right: 20px;
}
@media all and (max-width: 1380px) {
    .main {
        width: 95%;
    }
}
