<h2>
  {{ titre }}
</h2>
<div class="main selector">
  <section class="column avecAlign section1">
    <h1>Recherche</h1>
    <p>Taper le titre du livre et choisissez parmis les série proposés celle qui vous convient. Vous pourrez ensuite renseigner
      les champs de réservation.</p>
  </section>
  <form class="row center avec_align formSearch" method="POST">
    <span class="input input-colibris_search">
      <input class="input_field input_field-colibris_search" type="text" name="recherche" id="recherche" autocomplete="off">
      <label class="input_label input_label-colibris_search" for="input-16">
        <span class="input_label-content input_label-content-colibris_search">Search</span>
      </label>
    </span>
    <button class="button btn_1_normal" type="submit" id="btn_search">Rechercher</button>
  </form>

  <section class="row center avecAlign section3">
    <div class="max_width resultat">
      <article *ngFor="let serie of list_Series.listSeries; let i = index">
        <div class="row between avec_align serie">
          <img class="imgSerie" src="assets/img/{{serie.lien_image}}.jpg">
          <div class="divInfo1_search row avec_align">
            <div>
              <h3 class="margin_bot_10">
                {{ serie.titre }}
              </h3>
              <p class="margin_bot_10">Auteur : {{ serie.nom_auteur }}
              </p>
              <p class="margin_bot_10">Editeur : {{ serie.nom_editeur }}
              </p>
              <p>Collection : {{ serie.nom_collection }}
              </p>
            </div>
            <div>
              <p class="bold margin_bot_10">Propriétaire : </p>
              <p class="margin_bot_20">Collège {{ serie.college.nom_college }} à {{ serie.college.ville_college }}</p>
              <p>Temps de parcours : 40 minutes</p>
            </div>
          </div>
          <div class="tailleDivFleche row start avec_align">
            <img class="svg2" src="assets/img/angle-down.svg">
          </div>
        </div>
        <div class="row margin_top_20 deroule" id="">
          <div id="action2" class="column start sans_align detailSerie margin_right_20">
            <div class="margin_bot_20 detailSup">
              <p class="margin_bot_20">Nombre d'exemplaire : 21 livres</p>
              <p class="margin_bot_20">Langue : français</p>
              <p class="margin_bot_10">ISBN : 3787734535</p>
            </div>
            <div class="reservation2 detailSup margin_bot_20">
              <h4 class="margin_bot_20 bold">Réservation(s) validée :</h4>
              <div>
                <p class="margin_bot_10">Fardo Gilbert :</p>
                <p class="margin_bot_10">début: 15/04/2018 / fin: 23/06/2018</p>
              </div>
            </div>
          </div>
          <form class="column start sans_align max_width" method="POST">
            <input type="hidden" class="input_date" value="{{serie._id}}" name="id_serie">
            <div class="row between avec_align max_width padding margin_bot_20 colorWhite selectDate">
              <div class="row start avec_align mid_width">
                <label for="from" class="margin_right_20">Date d'emprunt : </label>
                <input type="date" class="input_date" name="date_debut">
              </div>
              <div class="row end avec_align mid_width">
                <label for="to" class="margin_right_20">Date de retour : </label>
                <input type="date" class="input_date" name="date_fin">
              </div>

            </div>
            <div class="column avec_align max_width colorWhite">
              <div class="row max_width avec_align padding">
                <label class="bold">Envoyer un message :</label>
              </div>
              <div class="max_width row center">
                <textarea name="message"></textarea>
              </div>
              <div class="row end avec_align max_width padding">
                <a class="button btn_2_normal" href [routerLink]="['/series', i]">edit serie</a>
              </div>
            </div>
          </form>
        </div>
      </article>
    </div>
  </section>
</div>